@import 'src/mixins/index';

.landing {
    display: block;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(5px + 2vmin);
    color: black;
}

.landing-section {
    height: 100vh;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 4px;    
    overflow-x: hidden;
    
    @include medium {
        display: flex;
    }

    @include large {
        
    }
    
}

.landing-ending {
    height: 30vh;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 4px;    
    overflow-x: hidden;
    
    @include medium {
        display: block;
    }

    @include large {
        
    }
}

.landing-ending-item {
    width: 100%;
    
    @include medium {

    }

    @include large {
        
    }
    
}

.landing-section-image-only {
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 80px 4px;    
    overflow-x: hidden;
    
    @include medium {
        display: flex;
    }

    @include large {
        
    }
    
}

.landing-placeholder {
    width: 0px;

    @include medium {
        width: 60%;
    }
}

.landing-box {
    position: absolute;
    top: 25px;
    left: 0;
    background-color:#fff;
    z-index: -1;

    width: 0%;
    height: 0%;

    @include medium {
        width: 100%;
        height: 100%;
    }

    @include large {
        width: 100%;
        height: 95%;
    }
}

.landing-background-image {
    
    height: 100%;
    width: 100%;
}

.landing-main-image {
    max-width:100%;
    height: auto;
    
    @include medium {
        
        
    }

    @include large {
        
        
    }
}

.landing-main-text {
    text-align: center;
    font-size: 40px;

    @include medium {
        margin: 0 20px;
        font-size: 40px;
    }

    @include large {
        margin: 0 40px;
        font-size: 60px;
    }


    @include extra-large {
        margin: 0 40px;
        font-size: 80px;
    }
}

.landing-main-subtext {
    text-align: center;
    font-size: 50px;

    @include medium {
        margin: 0 20px;
        
    }

    @include large {
        margin: 0 40px;
    }
}